<% content_for :title do %>About<% end %>
<div class="container-fluid">
  <img src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/13619822_1430150807010346_7049441783458260881_n.jpg?oh=d0bc53c4fff40729de8d0f1fc5c27650&oe=59456E02" class="img-fluid rounded-circle" alt="">
  <br><br><br><br>
</div>
