<div class="container text-center">
  <h1 style="color:#0275D8;">CONTACT US</h1><br>
  <h3 style="color:#0275D8;">WORLD HEADQUARTERS</h3><br>
      <img src="https://www.globalwealthtrade.com/default/images/office/building.jpg" class="img-fluid" alt="">
      <br><br>
      <p>50 West Pearce St. Suite 200</p><br>
      <p>Richmond Hill, Ontario</p>
      <p>L4B 1C5</p>
      <p>Canada</p>
      <p>Tel: 905-482-3078 <br>Fax: 905-482-3079</p>
</div>
