<div class="container">
  <h1>CONTACT US</h1>
  <h3>WORLD HEADQUARTERS</h3>
  <div class="row">
    <div class="col-md-2">
      <img src="https://www.globalwealthtrade.com/default/images/office/building.jpg" alt="">
      <br><br>
      <p>50 West Pearce St. Suite 200</p><br>
      <p>Richmond Hill, Ontario</p>
      <p>L4B 1C5</p>
      <p>Canada</p>
      <p>Tel: 905-482-3078 <br>
Fax: 905-482-3079</p>
    </div>
  </div>
</div>
