<!--Footer-->
<footer class="page-footer container-fluid center-on-small-only primary-color-dark" id="footer">

<!--Footer Links-->
<div class="container-fluid">
    <div class="row">

        <!--First column-->
        <div class="col-md-3 offset-lg-1 hidden-lg-down">
            <h5 class="title">Lapomme Luxury</h5>
            <p>To become the # 1 fashion brand in the world that can provide a lifelong opportunity for entrepreneurs to build significant wealth and establish 1000 millionaires by the year 2025.</p>
        </div>
        <!--/.First column-->

        <hr class="hidden-md-up">

        <!--Second column-->
        <div class="col-lg-2 col-md-4 offset-lg-1">
            <h5 class="title">Gifts</h5>
            <ul>
                <li><a href="https://www.globalwealthtrade.com/vdm/gift.php?brand=21&referral=default" target="_blank">Seasonal Gifts</a></li>
            </ul>
        </div>
        <!--/.Second column-->

        <hr class="hidden-md-up">

        <!--Third column-->
        <div class="col-lg-2 col-md-4">
            <h5 class="title">Jewellery</h5>
            <ul>
                <li><a href="https://www.globalwealthtrade.com/vdm/brand.php?brand=6&top_category=16&referral=default" target="_blank">Posh Collections</a></li>
            </ul>
        </div>
        <!--/.Third column-->

        <hr class="hidden-md-up">

        <!--Fourth column-->
        <div class="col-lg-2 col-md-4">
            <h5 class="title">Feri</h5>
            <ul>
                <li><a href="https://www.globalwealthtrade.com/vdm/brand.php?brand=2&top_category=37&referral=default" target="_blank">Feri Collection</a></li>
                <li><a href="https://www.globalwealthtrade.com/vdm/brand.php?brand=1&change_bg=1&top_category=22&referral=default" target="_blank">Feri Mosh</a></li>
            </ul>
        </div>
        <!--/.Fourth column-->

    </div>
</div>
<!--/.Footer Links-->

<hr>

<!--Social buttons-->
 <div class="social-section">
     <ul>
         <li><a class="btn-floating btn-small btn-fb wow zoomIn" href="https://www.facebook.com/lapommeluxury" target="_blank"><i class="fa fa-facebook"> </i></a></li>
         <li><a class="btn-floating btn-small btn-tw wow zoomIn"><i class="fa fa-twitter"> </i></a></li>
         <li><a class="btn-floating btn-small btn-gplus wow zoomIn"><i class="fa fa-google-plus"> </i></a></li>
         <li><a class="btn-floating btn-small btn-li wow zoomIn"><i class="fa fa-linkedin"> </i></a></li>
         <li><a class="btn-floating btn-small btn-pin wow zoomIn"><i class="fa fa-pinterest"> </i></a></li>
         <li><a class="btn-floating btn-small btn-ins wow zoomIn"><i class="fa fa-instagram"> </i></a></li>
     </ul>
 </div>
 <!--/.Social buttons-->

<!--Copyright-->
<div class="footer-copyright">
        © 2017 Copyright: <a href="http://www.lapommeluxury.com" target="_blank">lapommeluxury.com </a>
        <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket wow shake" ><i></i></a>
</div>
<!--/.Copyright-->

</footer>
<!--/.Footer-->
