<!--Footer-->
<footer class="page-footer center-on-small-only primary-color-dark">

<!--Footer Links-->
<div class="container-fluid">
    <div class="row">

        <!--First column-->
        <div class="col-md-3 offset-lg-1 hidden-lg-down">
            <h5 class="title">Lapomme Luxury</h5>
            <p>Material Design (codenamed Quantum Paper) is a design language developed by Google. </p>

            <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
        </div>
        <!--/.First column-->

        <hr class="hidden-md-up">

        <!--Second column-->
        <div class="col-lg-2 col-md-4 offset-lg-1">
            <h5 class="title">First column</h5>
            <ul>
                <li><a href="#!">Link 1</a></li>
                <li><a href="#!">Link 2</a></li>
                <li><a href="#!">Link 3</a></li>
                <li><a href="#!">Link 4</a></li>
            </ul>
        </div>
        <!--/.Second column-->

        <hr class="hidden-md-up">

        <!--Third column-->
        <div class="col-lg-2 col-md-4">
            <h5 class="title">Second column</h5>
            <ul>
                <li><a href="#!">Link 1</a></li>
                <li><a href="#!">Link 2</a></li>
                <li><a href="#!">Link 3</a></li>
                <li><a href="#!">Link 4</a></li>
            </ul>
        </div>
        <!--/.Third column-->

        <hr class="hidden-md-up">

        <!--Fourth column-->
        <div class="col-lg-2 col-md-4">
            <h5 class="title">Third column</h5>
            <ul>
                <li><a href="#!">Link 1</a></li>
                <li><a href="#!">Link 2</a></li>
                <li><a href="#!">Link 3</a></li>
                <li><a href="#!">Link 4</a></li>
            </ul>
        </div>
        <!--/.Fourth column-->

    </div>
</div>
<!--/.Footer Links-->

<hr>

<!--Social buttons-->
 <div class="social-section">
     <ul>
         <li><a class="btn-floating btn-small btn-fb wow zoomIn"><i class="fa fa-facebook"> </i></a></li>
         <li><a class="btn-floating btn-small btn-tw wow zoomIn"><i class="fa fa-twitter"> </i></a></li>
         <li><a class="btn-floating btn-small btn-gplus wow zoomIn"><i class="fa fa-google-plus"> </i></a></li>
         <li><a class="btn-floating btn-small btn-li wow zoomIn"><i class="fa fa-linkedin"> </i></a></li>
         <li><a class="btn-floating btn-small btn-pin wow zoomIn"><i class="fa fa-pinterest"> </i></a></li>
         <li><a class="btn-floating btn-small btn-ins wow zoomIn"><i class="fa fa-instagram"> </i></a></li>
     </ul>
 </div>
 <!--/.Social buttons-->

<!--Copyright-->
<div class="footer-copyright">
    <div class="container-fluid">
        © 2017 Copyright: <a href="http://www.cleveland-williams.com" target="_blank"> cleveland-williams.com </a>
        <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket wow shake" ><i></i></a>

    </div>
</div>
<!--/.Copyright-->

</footer>
<!--/.Footer-->
